











/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}














*{

  font-family: Verdana;
  background-color: gray;
  color: black;
  text-align: center;
  line-height:1.5em

}
.title{
  font-size:3em;
  margin-bottom: 10px;
  padding: 20px 0;

}
.head{
  margin:0 auto;
  font-size:2em;
  margin-bottom: 20px;
}
h2{
  margin:0 auto;
  font-size:1.6em;
  margin-bottom: 10px;

}

#impact{

  font-family: Impact;

}
#courier{

  font-family: courier;

}
#Verdana{

  font-family: chalkboard;
}
#cyan{

  color:cyan;

}
#red{

  color:red;
}
#yellow{

  height: 100px;
  width: 100px;
  background-color: yellow;
  margin:auto;



}
#default{

  line-height:default;
}
#percent{
  line-height: 400%;


}
#decimal{

  line-height: .25;
}
ul{
  font-size: 1.4em;
  list-style-type: none;
}
#background-color{
  background-color:green;
  width:200px;
  height:100px;
  margin:0 auto 0 auto;
  border-radius:10px;
  padding:10px;

  line-height: 35px;


}
#border{
  width:200px;
  height:100px;
  margin:auto;
  border:solid 1px cyan;
  border-radius:10px;
  padding:10px;

  line-height: 45px;

}
#background-image{
  background-image: url("https://packagecontrol.io/readmes/img/93631b4d04c6c5266de79cb17b1e83676971826f.gif");
  background-position: center left;
  color:white;
  width:200px;
  height:100px;
  margin:auto;
  border-radius:10px;
  padding:10px;

  line-height: 30px;

}
.amaranth p{
  font-family: amaranth , sans-serif;



}
.sunshiney p{
  font-family: sunshiney , cursive;


}
.ubuntu p{
  font-family: ubuntu , sans-serif;

}
.fonts{
  font-size: 1.5em;
}
body{
  font-family: Verdana;
  line-height: 1.5em;
}
