












*{

  font-family: Chalkboard;
  background-color: gray;
  color: black;
  text-align: center;
   
}
#impact{

  font-family: Impact;

}
#courier{

  font-family: courier;

}
#Verdana{

  font-family: Verdana
}
#cyan{

  color:cyan;

}
#red{

  color:red;
}
#yellow{

  height: 100px;
  width: 100px;
  background-color: yellow;


}
#default{

  line-height:default;
}
#percent{
  line-height: 400%;


}
#decimal{

  line-height: .25;
}
